

<h2>Add Play list</h2>
    <p class="alert">t</p>

<form method="post" enctype="multipart/form-data">

    <input type="text" name="name">
    <label >Pavadinimas</label>
    <input type="file" name="image">
    <label> Nuotrauka</label>
    {{!-- <input type="text" name="user_id">
    <label>vartotojo id</label> --}}
    <button> Prideti grojarasti</button>

    {{!-- <a href="/playlists">Prideti grojarasti</a> --}}

</form>