
<div class="edit-form-container">
    <h1 class=" edit-h1 mb-3">Edit parts</h1>

<form class="edit-form" method="post">
    <div class="mb-3">
        <label class="edit-lable form-label" >Grajarascio id</label>
        <input class="edit-input form-control" type="text" name="playlistId" value="{{playlist_id}}">
    </div>
    <div class="mb-3">
        <label class="edit-lable form-label"> Dainos pavadinimas</label>
        <input class="edit-input form-control" type="text" name="song" value="{{song_Name}}">
    </div>
    <div class="mb-3">
        <label class="edit-lable form-label">Dainos albumas</label>
        <input class="edit-input form-control" type="text" name="songAlbum" value="{{song_album}}">
    </div>
    
    <button class="btn btn-primary">Ikelti daina</button>

</form>

</div>

