
{{#if message}}
    <p class="alert alert-{{status}}">{{message}}</p>
{{/if}}
<form method="post">

    <input type="text" name="playlistId">
    <label >Grajarascio id</label>
    <input type="text" name="song">
    <label> Dainos pavadinimas</label>
    <input type="text" name="songAlbum">
    <label>Dainos albumas</label>
    <button>Ikelti daina</button>

</form>